*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 2px solid blueviolet;
    padding: 8px 20px ;
    background-color: transparent;
    color: blueviolet;
    border-radius: 10px;
    font-size: 16px;
    transition: .7s;
    cursor: pointer;

}
button:hover{
    background-color: blueviolet;
    color: #fff;
}
.input{
    display: flex;
    margin: 10px 0;
    gap: 5px;
}

.input button{
    background-color: #fff;
    color: black;
}

.input input{
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid blueviolet;
}
div{
    text-align: center;
}